* {
    margin: 0;
    padding: 0;
}

.header {
    height: 900px;
    background-image: url(../img/ba1_1.jpg);
    background-position: center;
    block-size: cover;
}

.img-logo {
    width: 175px;
}

.navbar {
    background-color: #333a40;
}

.navbar a {
    text-decoration: none;
    margin-right: 30px;
}

.informacion .h5 {
    padding-top: 15px;
}

.ld {
    background-color: #333a40;
}

.informacion h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

 form .btn {
    background-color: #96c93e;
} 

.container .btn:hover {
    background-color: #96c93e !important;
}

footer {
    height: 120px;
}

footer a {
    text-decoration: none;
}

.footer-gradient {
            background-image: linear-gradient(to right, #1c3643, #1f5271);        
           }